.ribbon-container > .ribbon {
  padding: 10px 0;
  margin: 10px 0;
}
.ribbon-container + .ribbon-container {
  margin-top: -10px;
}

.restrainer {
  max-width: 1280px;
}

.gutter-outer {
  margin: 10px;
}

.gutter-inner {
  padding: 10px;
}

@media only screen and (min-width: 30em) {
  body {
    padding: 0 10px;
  }

  .ribbon-container {
    margin: -10px;
  }
  .ribbon-container > .ribbon {
    padding: 20px 10px;
    margin: 20px 0;
  }
  .ribbon-container + .ribbon-container {
    margin-top: -20px;
  }
}
@media only screen and (min-width: 48em) {
  .ribbon-container > .ribbon {
    padding: 30px 10px;
    margin: 30px 0;
  }
  .ribbon-container + .ribbon-container {
    margin-top: -30px;
  }
}
@media only screen and (min-width: 85em) {
  .ribbon-container > .ribbon {
    padding: 30px;
  }
}
