/* Config
-------------------------------------------------- */
.ribbon > .gutter {
    padding: 30px;
    margin: 30px 0;
}
.ribbon + .ribbon {
    margin-top: -30px;
}
.restrainer {
    max-width: 1280px;
}
.gutter {
    margin: 10px;
}
.island .gutter {
    padding: 10px;
}
.container > .gutter {
    margin: 10px;
}
.gutter .island .gutter {
    margin: 0;
}