html {
  background-color: #FFF;
}

body {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}

h1 {
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  color: #000;
}

.ribbon-container .ribbon {
  background-color: rgba(0, 0, 0, 0.1);
}

.ribbon-container .ribbon .module {
  background-image: url(../demo/img/dots-dark.svg);
}

.ribbon-container + .ribbon-container > .ribbon {
  background-color: rgba(0, 0, 0, 0.05);
}

.ribbon-container + .ribbon-container > .ribbon .module {
  background-image: url(../demo/img/dots-light.svg);
}

.module {
  min-height: 128px;
  background-image: url(../demo/img/dots-light.svg);
}

.module.island {
  background-color: #FFF;
  background-image: none;
  border: 1px solid #d8d8d8;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.07);
}

.module .island {
  margin: -1px;
  box-shadow: none;
}

.example .grid-container {
  border: 1px dashed #E88087;
  margin: -1px;
}
