*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ribbon-container + .ribbon-container > .ribbon {
  margin-top: 0;
}
.ribbon-container:first-child > .ribbon {
  margin-top: 0;
}
.ribbon-container:last-child > .ribbon {
  margin-bottom: 0;
}

.restrainer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.grid-1of2,
.grid-1of3,
.grid-2of3,
.grid-1of4,
.grid-3of4,
.grid-1of5,
.grid-2of5,
.grid-3of5,
.grid-4of5,
.grid-1of6,
.grid-5of6 {
  width: 100%;
  float: left;
}

.grid-container,
.module-container,
.module {
  clear: both;
}
.grid-container:before, .grid-container:after,
.module-container:before,
.module-container:after,
.module:before,
.module:after {
  content: ' ';
  display: table;
  clear: both;
}

.module-container > .module > *:last-child,
.module-container > .module > *:last-child > *:last-child,
.module-container > .module > *:last-child > *:last-child > *:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 30em) {
  .grid-1of2,
  .grid-1of3,
  .grid-2of3,
  .grid-1of4,
  .grid-3of4,
  .grid-1of5,
  .grid-2of5,
  .grid-3of5,
  .grid-4of5,
  .grid-1of6,
  .grid-5of6 {
    width: 50%;
  }
  .grid-1of2.offset-left,
  .grid-1of3.offset-left,
  .grid-2of3.offset-left,
  .grid-1of4.offset-left,
  .grid-3of4.offset-left,
  .grid-1of5.offset-left,
  .grid-2of5.offset-left,
  .grid-3of5.offset-left,
  .grid-4of5.offset-left,
  .grid-1of6.offset-left,
  .grid-5of6.offset-left {
    margin-left: 50%;
  }
  .grid-1of2.offset-right,
  .grid-1of3.offset-right,
  .grid-2of3.offset-right,
  .grid-1of4.offset-right,
  .grid-3of4.offset-right,
  .grid-1of5.offset-right,
  .grid-2of5.offset-right,
  .grid-3of5.offset-right,
  .grid-4of5.offset-right,
  .grid-1of6.offset-right,
  .grid-5of6.offset-right {
    margin-right: 50%;
  }
  .grid-1of2.offset-both,
  .grid-1of3.offset-both,
  .grid-2of3.offset-both,
  .grid-1of4.offset-both,
  .grid-3of4.offset-both,
  .grid-1of5.offset-both,
  .grid-2of5.offset-both,
  .grid-3of5.offset-both,
  .grid-4of5.offset-both,
  .grid-1of6.offset-both,
  .grid-5of6.offset-both {
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media only screen and (min-width: 48em) {
  .grid-1of2,
  .grid-1of4,
  .grid-3of4 {
    width: 50%;
  }

  .grid-1of2.offset-left {
    margin-left: 50%;
  }
  .grid-1of2.offset-right {
    margin-right: 50%;
  }
  .grid-1of2.offset-both {
    margin-left: 25%;
    margin-right: 25%;
  }

  .grid-1of3,
  .grid-1of5,
  .grid-1of6 {
    width: 33.333333%;
  }

  .grid-2of3,
  .grid-4of5,
  .grid-5of6 {
    width: 66.666666%;
  }

  .grid-2of3.offset-left,
  .grid-4of5.offset-left,
  .grid-5of6.offset-left {
    margin-left: 33.333333%;
  }
  .grid-2of3.offset-right,
  .grid-4of5.offset-right,
  .grid-5of6.offset-right {
    margin-right: 33.333333%;
  }
  .grid-2of3.offset-both,
  .grid-4of5.offset-both,
  .grid-5of6.offset-both {
    margin-left: 16.666666%;
    margin-right: 16.666666%;
  }

  .grid-2of5 {
    width: 40%;
  }

  .grid-3of5 {
    width: 60%;
  }
  .grid-3of5.offset-left {
    margin-left: 40%;
  }
  .grid-3of5.offset-right {
    margin-right: 40%;
  }
  .grid-3of5.offset-both {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media only screen and (min-width: 62.25em) {
  .grid-1of4 {
    width: 25%;
  }

  .grid-3of4 {
    width: 75%;
  }
  .grid-3of4.offset-left {
    margin-left: 25%;
  }
  .grid-3of4.offset-right {
    margin-right: 25%;
  }
  .grid-3of4.offset-both {
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

  .grid-1of5 {
    width: 20%;
  }

  .grid-4of5 {
    width: 80%;
  }
  .grid-4of5.offset-left {
    margin-left: 20%;
  }
  .grid-4of5.offset-right {
    margin-right: 20%;
  }
  .grid-4of5.offset-both {
    margin-left: 10%;
    margin-right: 10%;
  }

  .grid-1of6 {
    width: 16.666666%;
  }

  .grid-5of6 {
    width: 83.333333%;
  }
  .grid-5of6.offset-left {
    margin-left: 16.666666%;
  }
  .grid-5of6.offset-right {
    margin-right: 16.666666%;
  }
  .grid-5of6.offset-both {
    margin-left: 8.333333%;
    margin-right: 8.333333%;
  }
}
