/* Grid
-------------------------------------------------- */
*, *:after, *:before { /* Apply natural box layout model to all elements */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    text-align: center; /* For horizontal centering */
}
.grid {
    width: 100%;
    float: left;
}
.module {
    text-align: left;
}
.module:before,
.module:after,
.gutter:before,
.gutter:after { /* Clearfix */
	content: "";
	display: table;
	clear: both;
}
.module > .gutter > *:last-child,
.module > .gutter > *:last-child > *:last-child,
.module > .gutter > *:last-child > *:last-child > *:last-child { /* Unspacing the bottom of modules */
	margin: 0;
}
@media only screen and (min-width: 480px) {
    .grid-1of2,
    .grid-1of3,
    .grid-2of3,
    .grid-1of4,
    .grid-3of4,
    .grid-1of5,
    .grid-2of5,
    .grid-3of5,
    .grid-4of5,
    .grid-1of6,
    .grid-5of6{
        width: 50%;
    }
    .grid-1of3:nth-child(3),
    .grid-1of4:nth-child(3),
    .grid-1of5:nth-child(3),
    .grid-1of6:nth-child(3),
    .grid-1of6:nth-child(5) {
        clear: both;
    }
    .grid.offset {
        margin-left: 50%;
    }
}
@media only screen and (min-width: 768px) {
    .grid-1of2,
    .grid-1of4,
    .grid-3of4 {
        width: 50%;
    }
    .grid-1of2.offset {
        margin-left: 50%;
    }
    .grid-1of3,
    .grid-1of5,
    .grid-1of6 {
        width: 33.333333%;
    }
    .grid-2of3,
    .grid-4of5,
    .grid-5of6 {
        width: 66.666666%;
    }
    .grid-2of3.offset,
    .grid-4of5.offset,
    .grid-5of6.offset {
        margin-left: 33.333333%;
    }
    .grid-2of5 {
        width: 40%;
    }
    .grid-3of5 {
        width: 60%;
    }
    .grid-3of5.offset {
        margin-left: 40%;
    }
    .grid-1of3:nth-child(3),
    .grid-1of5:nth-child(3),
    .grid-1of6:nth-child(3),
    .grid-1of6:nth-child(5) {
        clear: none;
    }
    .grid-1of3:nth-child(4),
    .grid-1of5:nth-child(4),
    .grid-1of6:nth-child(4) {
        clear: both;
    }
}
@media only screen and (min-width: 996px) {
    .grid-1of4 {
        width: 25%;
    }
    .grid-3of4 {
        width: 75%;
    }
    .grid-3of4.offset {
        margin-left: 25%;
    }
    .grid-1of5 {
        width: 20%;
    }
    .grid-4of5 {
        width: 80%;
    }
    .grid-4of5.offset {
        margin-left: 20%;
    }
    .grid-1of6 {
        width: 16.666666%;
    }
    .grid-5of6 {
        width: 83.333333%;
    }
    .grid-5of6.offset {
        margin-left: 16.666666%;
    }
    .grid-1of4:nth-child(3),
    .grid-1of3:nth-child(4),
    .grid-1of5:nth-child(4),
    .grid-1of6:nth-child(4) {
        clear: none;
    }
}