$gutter-size: 10px;

.ribbon-container {
    > .ribbon {
        padding: $gutter-size 0;
        margin: $gutter-size 0;
    }
    + .ribbon-container {
        margin-top: -$gutter-size;
    }
}
.restrainer {
    max-width: 1280px;
}
.gutter-outer {
    margin: $gutter-size;
}
.gutter-inner {
    padding: $gutter-size;
}

@media only screen and (min-width: 30em) { // 480px
    body {
        padding: 0 $gutter-size;
    }
    .ribbon-container {
        margin: 0 -$gutter-size;
        > .ribbon {
            padding: $gutter-size*2 $gutter-size;
            margin: $gutter-size*2 0;
        }
        + .ribbon-container {
            margin-top: -$gutter-size*2;
        }
    }
}

@media only screen and (min-width: 48em) { // 768px
    .ribbon-container {
        > .ribbon {
            padding: $gutter-size*3 $gutter-size;
            margin: $gutter-size*3 0;
        }
        + .ribbon-container {
            margin-top: -$gutter-size*3;
        }
    }
}

@media only screen and (min-width: 85em) { // 1360px
    .ribbon-container {
        > .ribbon {
            padding: $gutter-size*3;
        }
    }
}
