$gutter-size: 10px;

.ribbon-container {
    > .ribbon {
        padding: $gutter-size 0;
        margin: $gutter-size 0;
    }
    + .ribbon-container {
        margin-top: -$gutter-size;
    }
}
.restrainer {
    max-width: 80em; // 1280px
}
.gutter-outer {
    margin: $gutter-size;
}
.gutter-inner {
    padding: $gutter-size;
}

@media only screen and (min-width: 30em) { // 480px
    body {
        padding: 0 $gutter-size; // To create the same gutters left and right as the gutters in-between
    }
    .ribbon-container {
        margin: -$gutter-size;
        body > &:first-child,
        body > &:last-child {
            margin-top: 0;
            margin-bottom: 0;
        }
        > .ribbon {
            padding: $gutter-size*2 $gutter-size;
            margin: $gutter-size*2 0;
        }
        + .ribbon-container {
            margin-top: -$gutter-size*2;
        }
    }
}

@media only screen and (min-width: 48em) { // 768px
    .ribbon-container {
        > .ribbon {
            padding: $gutter-size*3 $gutter-size;
            margin: $gutter-size*3 0;
        }
        + .ribbon-container {
            margin-top: -$gutter-size*3;
        }
    }
}

@media only screen and (min-width: 85em) { // 1360px = 1280px (restrainer max-with) + 30px (ribbon left gutter-size) + 30px (ribbon right gutter-size) + 10px (left gutter-outer) + 10px (right gutter-outer)
    .ribbon-container {
        > .ribbon {
            padding: $gutter-size*3; // Same as ribbon top gutter-size
        }
    }
}
