html {
    background-color: #FAC7B4;
}
body {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
}
h1 {
    margin-bottom: 0;
}
ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
p {
    margin: 0;
}
a {
    color: #000;
}
.ribbon-container {
    .ribbon {
        background-color: rgba(232,128,135,.5);
    }
    + .ribbon-container > .ribbon {
        background-color: rgba(232,128,135,.3);
    }
}
.module {
    min-height: 125px;
    .module-container > & {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKUlEQVQIW2P8s2LufwYgYIlIZgTRMMCIUwJZFYoOZA6ybhRzcUog6wYAou4QBwnMcSoAAAAASUVORK5CYII=);
    }
    .ribbon .module-container > & {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKUlEQVQIW2P8dXzLfwYgYLP0YQTRMMCIUwJZFYoOZA6ybhRzcUog6wYAqW4QB24ZwhEAAAAASUVORK5CYII=);
    }
    &.island {
        background-color: #FAC7B4;
        background-image: none;
        border: 1px solid #E88087;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.07);
    }
    .grid-container > & {
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.07);
    }
    .island {
        margin: -1px; // Overlap borders
        box-shadow: none;
    }
}
.example {
    .grid-container {
        border: 1px solid #E88087;
        margin: 0 0 -1px -1px;
        .grid-container {
            border: 0;
            margin: 0;
        }
    }
}

@media only screen and (min-width: 80em) { // 1280px
    .restrainer {
        max-width: 1280px;
        float: none;
        clear: both;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
}
