/* Demo only
-------------------------------------------------- */
html {
	background-color: #8CFFFF;
}
body {
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.6;
	color: #fff;
}
.column {
	text-decoration: none;
}
.gutter {
	background-color: #6FDFE0;
	color: #0B0E13;
	min-height: 125px;
}
.island .gutter  {
	background-color: #0B0E13;
	color: #fff;
}
.no-gutter .column {
	background-color: #6FDFE0;
	color: #0B0E13;
	min-height: 125px;
}
ul.caption {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}
ul.caption b {
	font-size: 16px;
}
ul.caption i {
	font-size: 10px;
	font-style: normal;
	text-transform: uppercase;
}
