@import url(demo.css);

/* Breakpoints
--------------------------------------------------
Tiny	< 480px (default)
Small	> 480px
Medium	> 768px
Large	> 996px
Huge	> 1280px
-------------------------------------------------- */

/* Grid
-------------------------------------------------- */
body {
	padding: 10px;
}
*, *:after, *:before { /* Apply natural box layout model to all elements */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper {
	width: 100%;
	display: block;
	font-size: 0;
	list-style: none;
	padding: 0;
	margin: 0;
}
.wrapper:before, 
.wrapper:after { /* Clearfix */
	content: ""; 
	display: table; 
	clear: both;
}
.column {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}
.gutter {
	display: block;
	margin: 10px;
}
.island .gutter {
	padding: 20px;
}
.no-gutter {
	padding: 10px;
}
.no-gutter .gutter {
	margin: 0;
}
.column-1of2,
.column-1of3,
.column-2of3,
.column-1of4,
.column-3of4,
.column-1of5,
.column-2of5,
.column-3of5,
.column-4of5,
.column-1of6,
.column-5of6 {
	width: 100%;
}
@media only screen and (min-width: 480px) {
	.column-1of2,
	.column-1of3,
	.column-2of3,
	.column-1of4,
	.column-3of4,
	.column-1of5,
	.column-2of5,
	.column-3of5,
	.column-4of5,
	.column-1of6,
	.column-5of6 {
		width: 50%;
	}
	.column .column-1of2,
	.column .column-1of3,
	.column .column-2of3,
	.column .column-1of4,
	.column .column-3of4,
	.column .column-1of5,
	.column .column-2of5,
	.column .column-3of5,
	.column .column-4of5,
	.column .column-1of6,
	.column .column-5of6,
	.column .column-1of3 + .column-1of3:last-child,
	.column .column-1of5 + .column-1of5:last-child,
	.column-1of3 + .column-1of3:last-child,
	.column-1of5 + .column-1of5:last-child {
		width: 100%;
	}
	.column.indent {
		margin-left: 50%;
	}
}
@media only screen and (min-width: 768px) {
	.column-1of2,
	.column-1of4,
	.column-3of4 {
		width: 50%;
	}
	.column-1of2.indent {
		margin-left: 50%;
	}
	.column-1of3,
	.column-1of5,
	.column-1of6 {
		width: 33.33%;
	}
	.column-1of3 + .column-1of3:last-child { /* Separate from the style above due to IE8 grouping selectors bug */
		width: 33.33%;
	}
	.column-1of5 + .column-1of5:last-child {
		width: 66.66%;
	}
	.column-2of3,
	.column-4of5,
	.column-5of6 {
		width: 66.66%;
	}
	.column-2of3.indent,
	.column-4of5.indent,
	.column-5of6.indent {
		margin-left: 33.33%;
	}
	.column-2of5 {
		width: 40%;
	}
	.column-3of5 {
		width: 60%;
	}
	.column-3of5.indent {
		margin-left: 40%;
	}
}
@media only screen and (min-width: 996px) {
	.column .column-1of2,
	.column .column-1of3,
	.column .column-1of4 {
		width: 50%;
	}
	.column-1of4 {
		width: 25%;
	}
	.column-3of4 {
		width: 75%;
	}
	.column-3of4.indent {
		margin-left: 25%;
	}
	.column-1of5 {
		width: 20%;
	}
	.column-1of5 + .column-1of5:last-child { /* Separate from the style above due to IE8 grouping selectors bug */
		width: 20%;
	}
	.column-4of5 {
		width: 80%;
	}
	.column-4of5.indent {
		margin-left: 20%;
	}
	.column-1of6 {
		width: 16.66%;
	}
	.column-5of6 {
		width: 83.33%;
	}
	.column-5of6.indent {
		margin-left: 16.66%;
	}
}
@media only screen and (min-width: 1280px) {
	.column .column-1of3 {
		width: 33.33%;
	}
	.column .column-1of3 + .column-1of3:last-child { /* Separate from the style above due to IE8 grouping selectors bug */
		width: 33.33%;
	}
	.column .column-1of4 {
		width: 25%;
	}
}
