$gutter-size: 10px;

.restrainer {
    max-width: 80em; // 1280px
}

@media only screen and (min-width: 30em) { // 480px
    .ribbon-container {
        > .ribbon {
            padding: $gutter-size*2 $gutter-size; // Left and right is compensation for closing body padding gap to align with modules
            margin: $gutter-size*2 0;
        }
        + .ribbon-container {
            margin-top: -$gutter-size*2; // Close gap between ribbon containers
        }
    }
}

@media only screen and (min-width: 48em) { // 768px
    .ribbon-container {
        > .ribbon {
            padding: $gutter-size*3 $gutter-size;
            margin: $gutter-size*3 0;
        }
        + .ribbon-container {
            margin-top: -$gutter-size*3; // Close gap between ribbon containers
        }
    }
}

@media only screen and (min-width: 85em) { // 1360px = 1280px (restrainer max-with) + 30px (ribbon left gutter-size) + 30px (ribbon right gutter-size) + 10px (left gutter-outer) + 10px (right gutter-outer)
    .ribbon-container {
        > .ribbon {
            padding: $gutter-size*3; // Same as ribbon top gutter-size
        }
    }
}
